<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMEC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>389DAF791EAA522E00562B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>389DAF8D1EAA522F00562B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>389DAF981EAA522F00562B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
