<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            IMEC
        </title>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1" name="viewport">
                <!-- Add additional CSS in static file -->
                {% load static %}
                <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet">
                </link>
                <link href="{% static 'dashboard/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"/>
                <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet"/>
                <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet"/>
                <link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet"/>
                <script src="{% static 'dashboard/js/jquery.js' %}">
                </script>
                <script src="{% static 'dashboard/js/bootstrap.min.js' %}">
                </script>
                <!-- Scrolling Nav JavaScript -->
                <script src="{% static 'dashboard/js/jquery.easing.min.js' %}">
                </script>
                <script src="{% static 'dashboard/js/scrolling-nav.js' %}">
                </script>
            </meta>
        </meta>
    </head>

    <body>
        <div class='container' align='center'>
            {% if user.is_authenticated %}
                <p>User currently logged in: {{ user.username }}</p>
            {% else %}
                <p>no user logged in</p>
            {% endif %}
            <h1>You have reached employee.html</h1>
            <h3>This will become the page that creates volunteer ids</h3>
        </div>
    </body>
</html>
